* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      body {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        background-color: hsl(235, 18%, 26%);
        margin: 0;
        padding: 20px;
        min-height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .container {
        background-color: white;
        max-width: 800px;
        width: 100%;
        margin: 20px;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      }
      .flex-container {
        display: flex;
        flex-direction: column-reverse;
      }
      .content {
        padding: 40px;
      }
      .image-container {
        background-image: url('/newsletter-sign-up-with-success-message-main/newsletter-sign-up-with-success-message-main/assets/images/illustration-sign-up-desktop.svg');
        background-size: cover;
        background-position: center;
        min-height: 200px;
      }
      h1 {
        color: #333;
      }
      ul {
        padding: 10px 0;
      }
      li {
            margin-bottom: 0.5rem;
            display: flex;
            align-items: flex-start;
        }
      #icon {
        padding-right: 10px;
      }
      input[type="email"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
      }
      button {
        background-color: hsl(234, 29%, 20%);;
        color: white;
        border: none;
        padding: 15px;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
      }
      button:hover {
        background-color: #FF5474;
      }
      .error {
        color: #FF5474;
        margin-bottom: 10px;
      }
      .success-container {
        background-color: white;
        max-width: 400px;
        width: 100%;
        margin: 20px;
        padding: 80px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
      }
      .success-container h2 {
        color: #28a745;
      }

      /* Media query for tablets and larger phones */
      @media (min-width: 768px) {
        .flex-container {
          flex-direction: row;
        }
        .content {
          width: 60%;
        }
        .image-container {
          width: 40%;
          min-height: auto;
        }
      }